---
---

@import "{{ site.theme }}";

.view {
    display: none;
}
body {
    padding: 0 50px 0 50px;
}
header {
    width: 100%;
    float: none;
    position: relative;
    padding: 20px 0 0 0;
    margin-bottom: 50px;
    border-bottom: #808080 1px dashed;
}
header > h1 {
    font-size: 36px;
}
section {
    width: 100%;
    float: none;
}
footer {
    width: 100%;
    float: none;
    position: relative;
    border-top: #808080 1px dashed;
    padding: 20px 0 0 0;
}
