name: jekyll build
on:
  push: ~
  schedule:
  - cron: '0 4 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: development docs
      run: |
        mkdir tmp && cd tmp
        git clone --depth 1 https://github.com/acdh-oeaw/arche-assets
        git clone --depth 1 https://github.com/acdh-oeaw/arche-biblatex
        git clone --depth 1 https://github.com/acdh-oeaw/arche-core
        git clone --depth 1 https://github.com/acdh-oeaw/arche_core_gui
        git clone --depth 1 https://github.com/acdh-oeaw/arche_core_gui_api
        git clone --depth 1 https://github.com/acdh-oeaw/arche-dashboard
        git clone --depth 1 https://github.com/acdh-oeaw/arche-doorkeeper
        git clone --depth 1 https://github.com/acdh-oeaw/arche-diss-cache
        git clone --depth 1 https://github.com/acdh-oeaw/arche-exif
        git clone --depth 1 https://github.com/acdh-oeaw/arche-fcs
        git clone --depth 1 https://github.com/acdh-oeaw/arche-glb
        git clone --depth 1 https://github.com/acdh-oeaw/arche-iiifmanifest
        git clone --depth 1 https://github.com/acdh-oeaw/arche-lib
        git clone --depth 1 https://github.com/acdh-oeaw/arche-lib-disserv
        git clone --depth 1 https://github.com/acdh-oeaw/arche-lib-ingest
        git clone --depth 1 https://github.com/acdh-oeaw/arche-lib-schema
        git clone --depth 1 https://github.com/acdh-oeaw/arche-mapserver
        git clone --depth 1 https://github.com/acdh-oeaw/arche-metadata-crawler
        git clone --depth 1 https://github.com/acdh-oeaw/arche-openrefine
        git clone --depth 1 https://github.com/acdh-oeaw/arche-oaipmh
        git clone --depth 1 https://github.com/acdh-oeaw/arche-ref-sources
        git clone --depth 1 https://github.com/acdh-oeaw/arche-resolver
        git clone --depth 1 https://github.com/acdh-oeaw/arche-schema-ingest
        git clone --depth 1 https://github.com/acdh-oeaw/arche-thumbnails
        git clone --depth 1 https://github.com/acdh-oeaw/uriNormalizer
        mkdir devdocs
        docker run --rm -v $(pwd):/data phpdoc/phpdoc:3.3 -d arche-assets/src -d arche-biblatex/src -d arche-core/src -d arche_core_gui/src -d arche_core_gui_api/src -d arche-dashboard/src -d arche-diss-cache/src -d arche-doorkeeper/src -d arche-exif/src -d arche-fcs/src -d arche-glb/src -d arche-iiifmanifest/src -d arche-lib/src -d arche-lib-disserv/src -d arche-lib-ingest/src -d arche-lib-schema/src -d arche-mapserver/src -d arche-metadata-crawler/src -d arche-openrefine/src -d arche-oaipmh/src -d arche-ref-sources/src -d arche-resolver/src -d arche-schema-ingest/src -d arche-thumbnails/src -d uriNormalizer -t devdocs
        cd ..
        rm -fR devdocs
        cp -fR tmp/devdocs .
        sudo rm -fR tmp
    - uses: mxschmitt/action-tmate@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4
    - uses: limjh16/jekyll-action-ts@v2
      with:
        enable_cache: true
    - name: commit and push
      run: |
        git config user.email "workflow@github.actions"
        git config user.name "Github Actions Workflow"
        git add .
        git commit -a -m 'Jekyll build'
        git push origin

